$orange: #FF4A1F;
$pink: #FE0253;
$error: #E71A3A;
$blue: #06C1FF;
$blueHover: #05D7FF;
$mint: #1AF59D;

body {
	padding-bottom: 65px;
	margin: 0;
	background: rgb(250,250,250);
  background-size: cover;
	color: rgb(20,20,20);
	text-align: center;
	font-size: 30px;
	font-family: 'Esteban', serif;
	.errorsBox {
		color: #E71A3A;
	}
}

.aboutWrapper {
	text-align: center;
	h1 {
		font-size: 36px;
		max-width: 800px;
		margin: 35px auto 0 auto;
		padding: 15px;
		border-bottom: 3px solid $blue;
		font-family: 'Cabin', serif;
	}
	p {
		max-width: 900px;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
		font-size: 26px;
		font-family: 'Cabin', serif;
	}
	.description {
		margin-top: 15px;
	}
	a, a:visited {
		color: rgb(25,25,25);
		text-decoration: underline;
	}
	a:hover {
		color: $pink;
	}
	.logos {
		margin-top: 35px;
		img {
			width: 295px;
			margin: 12px;
		}
	}
}

.navigationWrapper {	
	background: $blue;
	width: 100%;
	min-height: 55px;
	padding-left: 25px;
	border-bottom: 1px solid rgba(15,15,15,0.5);
	.linksWrapper {
		margin: auto;
	  a, a:visited {
	  	text-decoration: none;
	  }
	  .navLink {
	  	margin: 5px 12px;
	  	float: left;
	  	color: white;
	  }
	  #githubAuth {
	  	width: 200px;
	  	margin-top: 10px;
	  	margin-right: 15px;
	  	padding-top: 7px;
	  	color: white;
	  	position: relative;
	  	float: right;
	  }
	  #githubAuth {
	  	a:hover {
	  		color: white;
	  	}
	  }
	  .navLink:hover {
	  	color: black !important;
	  }
	  .activeLink {
	  	color: black !important;
	  }
	}
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 35px;
	background: rgb(30,30,30);
	p {
		color: $blue;
		font-size: 14px;
		float: right;
		padding-top: 2px;
		padding-right: 7px;
		margin: 4px;
	}
	a, a:visited {
		color: white;
	}
	a:hover {
		color: $blue;
	}
	span {
		float: left;
	}
}

.createComponent {
	h1 {
		margin: 25px auto;
	}
	.subtitle {
		width: 550px;
		margin: 15px auto;
		font-size: 20px;
	}
	.answerContainer {
		width: 550px;
		margin: 5px auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.inputTitles {
		width: 550px;
		margin: 10px auto;
		text-align: left;
		font-size: 18px;
		font-weight: bold;
	}
	input {
		display: block;
		font-size: 20px;
		padding: 6px;
		width: 550px;
		margin: auto;
	}
	.questionTitle {
		font-family: 'Cabin', serif;
	}
	.answerInput {
		font-family: 'Cabin', serif;
		margin-left: 5px;
	}
	.addOption {
		width: 550px;
		margin: 5px auto;
		padding: 4px;
		font-size: 22px;
		border: 1px solid black;
		background: $blue;
	}
	.addOption:hover {
		background: #05D7FF;
	}
	.fa-check-box {
		margin-right: 18px;
		width: 15px;
	}
	.fa {
		padding-left: 5px;
	}
	.fa:hover {
		color: $error;
		cursor: pointer;
	}
	.proceedWrapper {
		width: 550px;
		margin: 5px auto;
	}
	.proceedBtn {
		width: 265px;
		margin: 5px;
		font-size: 20px;
		padding: 4px;
		border: 1px solid black;
		background: $mint;
	}
	.proceedBtn:hover {
		background: #28FFA8;
	}
	.editButtonsWrapper, .editTitleWrapper {
		margin-top: 25px;
	}
	.editBtn {
		width: 500px;
		display: block;
		margin: 5px auto;
		font-size: 20px;
		padding: 4px;
		border: 1px solid black;
		background: #FF714B;
	}
	.editBtn:hover {
		background: #FF4E1F;
	}
	.addOptionEdit {
		background: #FFE97F;
	}
	.addOptionEdit:hover {
		background: #FFE255;
	}
	.submitEdit {
		background: $blue;
	}
	.submitEdit:hover {
		background: #05D7FF;
	}
	.message {
		margin-top: 25px;
		font-size: 25px;
		color: $blueHover;
	}
	.review {
		border-bottom: 3px solid $blue;
		width: 550px;
		padding-bottom: 15px;
		margin: 12px auto;
	}
	.quizTitleReview {
		width: 550px;
		text-align: left;
		margin: 15px auto;
		padding-left: 12px;
	}
	.questionTitleReview {
		width: 550px;
		margin: 12px auto;
		border: 1px solid rgba(15,15,15,0.1);
		background: rgba(200,200,200,0.35);
		text-align: left;
		padding: 5px 8px;
		font-family: 'Cabin', serif;
	}
	.answerReview {
		width: 550px;
		margin: 5px auto;
		border: 1px solid rgba(15,15,15,0.5);
		background: rgba(250,250,250,0.25);
		p {
			padding-top: 9px;
			padding-left: 15px;
			padding-right: 8px;
			text-align: left;
			font-size: 20px;
			font-family: 'Cabin', serif;
		}
	}
	.reviewBtnControl {
		width: 550px;
		margin: 25px auto;
	}
	.reviewAddBtn {
		width: 550px;
		margin: 5px auto;
		font-size: 24px;
		padding: 4px;
		border: 1px solid black;
		background: #FFE97F;		
	}
	.reviewAddBtn:hover {
		background: #FFE255;
	}
	.saveBtn {
		width: 550px;
		margin: 5px auto;
		font-size: 24px;
		padding: 4px;
		border: 1px solid black;
		background: $mint;
	}
	.saveBtn:hover {
		background: #28FFA8;
	}
	.fa-editQuestion {
		margin-right: 4px;
		margin-top: 2px;
	}
	.submissionSuccess {
		margin-top: 25px;
		padding: 5px 8px;
		a, a:visited {
			color: rgb(25,25,25);
			text-decoration: underline;
		}
		a:hover {
			color: $pink;
		}
	}
	.errorMsg {
		color: $error;
		font-size: 22px;
	}
}

.studyComponent {
	width: 550px;
	margin: auto;
	h1 {
		margin: 25px auto;
		font-family: 'Cabin', serif;
	}
	p {
		font-family: 'Cabin', serif;
	}
	select {
		width: 500px;
		margin: 5px auto;
		font-family: 'Cabin', serif;
	}
	.studyBtn {
		width: 350px;
		margin: 15px auto;
		padding: 4px;
		font-size: 30px;
		border: 1px solid black;
		background: $blue;
	}
	.studyBtn:hover {
		background: #05D7FF;
		cursor: pointer;
	}
	.quizInfo {
		width: 500px;
		font-size: 22px;
		margin: 15px auto;
		font-family: 'Cabin', serif;
	}
}
.studyWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgb(25,25,25);
	color: white;
	overflow: scroll;
	.studyContainer {
		padding-top: 15px;
		padding-bottom: 50px;
		font-family: 'Cabin', serif;
		.quizTitle {
			font-size: 50px;
			width: 700px;
			border-bottom: 1px solid rgba(250,250,250,0.25);
			padding-bottom: 15px;
			margin: 35px auto;
		}
		.quizLength {
			font-size: 20px;
			color: rgb(175,175,175);
		}
		.questionTitle {
			font-size: 30px;
			width: 650px;
			margin: 25px auto;
		}
		.answerContainer {
			width: 650px;
			font-size: 24px;
			margin: 12px auto;
			padding-bottom: 5px;
			text-align: left;
			border: 1px solid rgba(250,250,250,0.20);
			p {
				padding-top: 8px;
				padding-left: 12px;
				padding-right: 12px;
				margin-top: 8px;
				margin-bottom: 8px;
				font-family: 'Cabin', serif;
				font-size: 24px;
			}
		}
		.answerContainer:hover {
			border: 1px solid $blue;
			cursor: pointer;
		}
		#correctWinner {
			background: $blueHover;
			border: 1px solid $blueHover;
			color: black;
		}
		#wrongWinner {
			border: 1px solid $blueHover;
		}
		#correctLoser {
			background: $blueHover;
			border: 1px solid black;
			color: black;
		}
		#wrongLoser {
			background: $error;
			border: 1px solid black;
			color: black;
		}
		.correctAnswer {
			color: $mint;
		}
		.wrongAnswer {
			color: $error;
		}
		button {
			border: none;
			background: white;
			color: black;
			padding: 2px 4px;
			width: 350px;
			margin: 15px;
		}
		button:hover {
			background: $mint;
		}
	}
}

.leaderboardComponent {
	font-family: 'Cabin', serif;
	text-align: left;
	color: white;
	.title {
		width: 650px;
		margin: 15px auto;
		color: black;
		text-align: center;
	}
	.note {
		width: 600px;
		margin: 5px auto;
		color: black;
		font-size: 18px;
		text-align: center;
	}
	.quizWrapper {
		width: 650px;
		margin: 8px auto;
		border: 1px solid rgba(20,20,20,0.25);
		border-radius: 5px;
		background: rgba(25,25,25,0.9);
		padding: 12px;
		h3 {
			width: 600px;
			margin: 12px auto;
			padding-bottom: 15px;
			font-size: 28px;
			border-bottom: 1px solid $blueHover;
		}
	}
	.leadersWrapper {
		background: rgba(250,250,250,0.15);
		width: 600px;
		margin: 3px auto;
		padding: 4px 6px;
		p {
			width: 550px;
			margin: 5px auto;
			font-size: 18px;
		}
		span {
			float: right;
		}
	}
}


@media only screen and (max-width: 650px) {
	.navigationWrapper {
		padding-top: 5px;
		padding-bottom: 10px;
		.linksWrapper {
			margin: auto;
			display: flex;
		  flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		  padding: 5px auto;
		  .navLink {
		  	font-size: 28px;
		  	margin: 5px;
		  	width: 100%;
		  }
		  button {
		  	background: none;
		  	border: none;
		  	font-size: 28px;
				margin: 0;
				padding: 0;
		  }
			#githubAuth {
				font-size: 15px;
				width: 65vw;
			}
		}
	}
	.aboutWrapper {
		h1 {
			width: 85vw;
			font-size: 24px;
			margin-top: 25px;
			padding-bottom: 25px;
		}
		p {
			margin-top: 25px;
			font-size: 18px;
			width: 90vw;
			padding: 5px;
		}
		.logos {
			margin-top: 25px;
			img {
				width: 125px;
				margin: 12px;
			}
		}
	}
	.footer {
		padding: 8px;
	}
	.createComponent {
		h1 {
			font-size: 30px;
			margin: 15px auto;
		}
		.subtitle {
			width: 85vw;
			font-size: 18px;
			margin: 8px auto;
		}
		.answerContainer {
			width: 95vw;
		}
		.inputTitles {
			width: 90vw;
			font-size: 16px;
		}
		input {
			width: 95vw;
		}
		.answerInput {
			font-size: 15px;
		}
		.questionTitle {
			font-size: 15px;
		}
		.addOption {
			width: 85vw;
			font-size: 18px;
			margin: 3px auto;
		}
		.proceedWrapper {
			width: 95vw;
			margin: auto;
		}
		.proceedBtn, .editBtn {
			width: 85vw;
			font-size: 18px;
			margin: 3px auto;
		}
		.quizTitleReview {
			font-size: 20px;
		}
		.saveBtn {
			width: 85vw;
			font-size: 20px;
			margin: 5px auto;
		}
		.review {
			width: 90vw;
		}
		.questionTitleReview {
			width: 90vw;
			font-size: 20px;	
		}
		.answerReview {
			width: 90vw;
			p {
				font-size: 16px;
			}
		}
		.reviewBtnControl {
			width: 90vw;
			margin: 25px auto;
		}
		.reviewAddBtn {
			width: 85vw;
			font-size: 20px;
			margin: 5px auto;
		}
	}
	.submissionSuccess {
		margin-top: 20px;
		padding: 5px 12px;
		h1 {
			font-size: 28px;
		}
		h2 {
			font-size: 24px;
		}
	}
	.studyComponent {
		width: 95vw;
		margin: 12px auto;
		h1 {
			width: 90vw;
			margin: 20px auto;
			font-size: 28px;
		}
		p {
			width: 65vw;
			margin: 5px auto;
			font-size: 22px;
		}
		select {
			width: 90vw;
			margin: 12px auto;
			font-size: 22px;
			font-family: 'Cabin', serif;
		}
		.studyBtn {
			width: 75vw;
			margin: 12px auto;
			font-size: 22px;
		}
		.quizInfo {
			width: 85vw;
			font-size: 18px;
			margin: 12px auto;
		}
	}
	.studyWrapper {
		.studyContainer {
			padding-bottom: 45px;
			.quizTitle {
				font-size: 40px;
				width: 90vw;
				padding-bottom: 15px;
				margin: 35px auto;
			}
			.quizLength {
				font-size: 20px;
			}
			.questionTitle {
				font-size: 22px;
				width: 95vw;
				margin: 25px auto;
			}
			.answerContainer {
				width: 95vw;
				margin: 8px auto;
				padding-bottom: 5px;
				p {
					padding-left: 12px;
					font-size: 16px;
				}
			}
			.answerContainer:hover {
				border: 1px solid $blue;
				cursor: pointer;
			}
			button {
				width: 80vw;
				margin: 12px;
				font-size: 26px;
			}
			.messageDiv {
				h1 {
					font-size: 24px;
				}
			}
			.scoreMessage {
				width: 90vw;
				margin: 8px auto;
				font-size: 24px;
			}
		}
	}
	.leaderboardComponent {
		margin-bottom: 35px;
		.title {
			width: 80vw;
			margin: 12px auto;
		}
		.note {
			width: 90vw;
			margin: 12px auto 20px auto;
			font-size: 16px;
		}
		.quizWrapper {
			width: 90vw;
			margin: 6px auto;
			padding: 8px;
			h3 {
				width: 85vw;
				margin: 8px auto;
				padding-bottom: 12px;
				font-size: 24px;
			}
		}
		.leadersWrapper {
			width: 85vw;
			margin: 3px auto;
			padding: 4px 6px;
			p {
				width: 75vw;
				margin: 5px auto;
				font-size: 16px;
			}
		}
	}
}





