$orange: #FF4A1F;
$pink: #FE0253;
$blue: #06C1FF;

body {
	padding: 0;
	margin: 0;
	background: rgb(28,28,28);
  background-size: cover;
	color: rgb(225,225,225);
	text-align: center;
	font-size: 30px;
	font-family: 'Cabin', serif;
	font-family: 'Proza Libre', serif;
	.errorsBox {
		color: #E71A3A;
	}
}

.aboutWrapper {
	text-align: center;
	h1 {
		font-size: 36px;
		width: 65vw;
		margin: 35px auto 0 auto;
		padding-bottom: 15px;
		border-bottom: 3px solid $blue;
	}
	h2 {
		font-size: 32px;
		margin: 25px auto;
	}
	p {
		width: 50vw;
		margin: auto;
		font-size: 26px;
	}
	h3 {
		width: 65vw;
		font-size: 28px;
		margin-left: auto;
		margin-right: auto;
	}

	a, a:visited {
		color: rgb(25,25,25);
	}
	a:hover {
		color: $pink;
	}
	.credits {
	  	width: 55vw;
	 }
}

.navigationWrapper {
	background: rgb(40,40,40);
	background: #23231A;
	width: 100%;
	border-bottom: 1px solid $blue;
	.linksWrapper {
		margin: auto;
	  display: flex;
	  flex-direction: row;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  a, a:visited {
	  	text-decoration: none;
	  	color: white;
	  }
	  .navLink {
	  	margin: 10px 5px;
	  	width: 225px;
	  }
	  .activeRoute {
	  	color: $pink !important;
	  }
		.socialLogin {
			margin: 15px 5px;
			a, a:visited {
				width: 225px;
				margin: 5px;
			}
			a:hover {
				color: white;
			}
		}	  
	}
}

@media only screen and (max-width: 900px) {
	.aboutWrapper {
		h1 {
			width: 85vw;
			font-size: 36px;
			margin-top: 15px;
		}
		h2 {
			font-size: 32px;
			width: 70vw;
		}
		h3 {
			font-size: 28px;
			width: 70vw;
		}
		p {
			font-size: 22px;
			width: 75vw;
		}
		.credits {
			width: 75vw;
		}
	}
}

@media only screen and (max-width: 650px) {
	.navigationWrapper {
		padding-top: 5px;
		padding-bottom: 10px;
		.linksWrapper {
			margin: auto;
		  display: flex;
		  flex-direction: column;
		  flex-wrap: wrap;
		  justify-content: center;
		  align-items: center;
		  padding: 5px auto;
		  .navLink {
		  	font-size: 28px;
		  	margin: 5px;
		  	width: 100vw;
		  }
		  button {
		  	background: none;
		  	border: none;
		  	font-size: 28px;
				margin: 0;
				padding: 0;
		  }
		}
	}
	.aboutWrapper {
		h1 {
			width: 85vw;
			font-size: 28px;
			margin-top: 15px;
		}
		h2 {
			font-size: 22px;
			width: 80vw;
		}
		h3 {
			font-size: 20px;
			width: 90vw;
		}
		p {
			font-size: 16px;
			width: 85vw;
		}
		.credits {
			width: 85vw;
		}
	}
}

@media only screen and (max-width: 550px) {
	.btn-social {
		margin: 15px 5px;
		a, a:visited {
			font-size: 22px;
		}
	}
}





